<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Demo</title>
</head>
<body>
 
    <h1>Welcome to the Reddit Demo Home Page!</h1>
    <ul>
    <% for (let subreddit in subreddits) {%>
        <li><%= subreddit %></li>
    <% } %> 
    </ul>
    <p>Use " /r/_subreddit_name_ " to accest the subreddit content.</p>     
</body>
</html>