<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>
        The Home Page
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequatur non odio quasi illum accusamus assumenda praesentium eius vel, incidunt tenetur repellendus corrupti quas inventore reiciendis quaerat aperiam debitis facere!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, facere minima. Illo, provident repellendus recusandae, doloribus quibusdam vitae perferendis quia placeat animi doloremque delectus nemo eum. Excepturi nostrum minus fuga?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio consequatur non odio quasi illum accusamus assumenda praesentium eius vel, incidunt tenetur repellendus corrupti quas inventore reiciendis quaerat aperiam debitis facere!
    </p>
</body>
</html>