@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*MAIN STYLES*/
body{
    font-family:'Oswald', serif;
    font-weight: 500;
    font-size: 15px;
}
#wrap{
    display: flex;
    background-color: darkslategrey;
    color: azure;
    padding: 1.5rem 3rem;
    overflow:hidden;
    flex-direction: row;
    
}
input[type="text"] {
    height: 3em;
    display: inline-;
    margin: auto;
    font-size: 1em;
    font-family: "Lato";
    font-weight: 300;
    border: none;
    outline: none;
    color:azure;
    padding: 0.2em;
    padding-right: 1.5em;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
  }
  input[type="text"]:focus:hover {
    border-bottom: 1px solid azure;
  }
  
  input[type="text"]:focus {
    width: 45em;
    z-index: 1;
    border-bottom: 1px solid azure;
    cursor: text;
  }
  button {
    height: 4em;
    width: 3em;
    padding: 0;
    margin: auto;
    text-indent: -9999em;
    text-transform: uppercase; 
    background: url(search-3-64.ico) center center no-repeat;
    background-size: 1.5rem;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity .4s ease;
  }
  
  
button:hover {
    opacity: 1  ;
  }